.grid-row
  .column-full
    %h1.heading-large Registers

    %table
      %thead
        %tr
          %th Name
          %th Votes
          %th

      %tbody
        - @registers.each do |register|
          %tr
            %td= register.name
            %td= register.votes.count
            %td= button_to '+1', upvote_register_path(register), method: :post

    %br

    = link_to 'New Register', new_register_path
