.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h1.heading-xlarge Complete
      %p.font-large Thank you for your suggestion

    %p We'll check your register is valid before add it to the list of suggested registers.

    %h2.heading-medium What happens next
    %p
      We'll send you email to confirm that your suggestion of a
      %strong #{@register.name}
      register has been added to the suggested registers and is open for voting.

